<head>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>

<body>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10 ml-5 pl-5">
                <h1>Trang cá nhân & Cài đặt</h1>
                <br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-9 mx-auto">
                <ul class="nav nav-tabs btn-group" role="group">
                    <li class="active">
                        <a class="btn btn-info" data-mdb-color="dark" data-toggle="tab" href="#home"> Thông tin cơ bản
                        </a>
                    </li>
                    <li class="active">
                        <a class="btn btn-info" data-mdb-color="dark" data-toggle="tab" href="#catagory">Danh mục</a>
                    </li>
                    <li class="active">
                        <a class="btn btn-info" data-mdb-color="dark" data-toggle="tab" href="#history">Lịch sử đăng
                            kí</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active my-2" id="home">
                        <form method="post" action="/user/{{user._id}}?_method=PUT" enctype="multipart/form-data"
                            class="form" id="registrationForm">
                            <div class="col-sm-3">
                                <div class="text-center">
                                    <div class="preview">
                                        <img class="img-avt avatar-user rounded-circle img-thumbnail" src=""
                                            id="img-preview" />
                                        <label class="label-upload-file" for="file-input">Upload Image</label>
                                        <input class="text-center center-block file-upload" name="image"
                                            accept="image/*" type="file" id="file-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-5">

                                <div class="col-xs-6 col-md-6">
                                    <label for="name">
                                        <h5 class="mb-0">Họ và Tên</h5>
                                    </label>
                                    <input type="text" class="form-control" name="name" id="full_name"
                                        placeholder="Nhập họ và tên" value="{{user.name}}"
                                        title="enter your full name if any.">
                                </div>

                                <div class="col-xs-6 col-md-6">
                                    <label for="email">
                                        <h5 class="mb-0">Email</h5>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="you@email.com" value="{{user.email}}" title="enter your email.">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description">
                                    <h5 class="mb-0">Mô tả</h5>
                                </label>
                                <textarea name="description" class="form-control textarea-resize" id="description"
                                    rows="3">{{user.description}}</textarea>
                            </div>

                            <div class="form-group row mb-5">
                                <div class="col-xs-6 col-md-3">
                                    <label for="inputState1">
                                        <h5 class="mb-0">Giới tính</h5>
                                    </label>
                                    <select id="inputState1" name="gender" class="form-control">
                                        <option value="nam" id="maleValue">Nam</option>
                                        <option value="nữ" id="femaleValue">Nữ</option>

                                    </select>
                                </div>

                                <div class="col-xs-6 col-md-3">
                                    <label for="inputState2">
                                        <h5 class="mb-0">Vai trò</h5>
                                    </label>
                                    <select id="inputState2" name="role" class="form-control">
                                        <option value="student" id="student">Học viên</option>
                                        <option value="teacher" id="teacher">Giáo viên</option>
                                        <option value="admin" id="teacher">Quản trị</option>
                                    </select>
                                </div>

                                <div class="col-xs-6 col-md-6">
                                    <label for="address">
                                        <h5 class="mb-0">Địa chỉ</h5>
                                    </label>
                                    <input type="text" class="form-control" name="address" id="address"
                                        placeholder="Nhập họ và tên" value="{{user.where}}"
                                        title="enter your full name if any.">
                                </div>

                            </div>

                            <div class="form-group mb-5">
                                <button class="btn btn-warning mr-2" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i>Lưu thay đổi</button>
                                <a class="btn btn-danger mr-2" data-toggle="modal" data-id="{{user._id}}"
                                    data-target="#delete-course-modal"><i class="glyphicon glyphicon-ok-sign"></i>Đổi
                                    mật khẩu</a>
                            </div>

                        </form>

                    </div><!--/tab-pane-->

                    <div class="tab-pane" id="catagory">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="container">
                                    <div class="grid">
                                        <div>
                                            <h3>Lập Trình Mobile</h3>
                                            <div class="row my-2">

                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/800/?random" alt="img17" />
                                                        <figcaption>
                                                            <h5>Lập Trình Mobile <br><span>React Native</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/801/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình IOS App <br><span> Swift</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/802/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Android <br><span>Kotlin</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h3>Lập Trình Web</h3>
                                            <div class="row my-2">

                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/803/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/804/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/805/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5> Lập trình back-end <span><br> Python</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="row my-2">
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/800/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/809/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/808/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h3>Lập Trình Khác</h3>
                                            <div class="row">
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/806/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/807/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5>Lập trình Front-end <br><span>ReactJS</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                                <div class="col mx-2 my-2">
                                                    <figure class="effect-ravi">
                                                        <img src="https://picsum.photos/1000/808/?random" alt="img25" />
                                                        <figcaption>
                                                            <h5> Lập trình back-end <span><br> Python</span></h5>
                                                            <p>
                                                                <a href="#"><i class="fa fa-search"></i></a>
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div><!--/tab-pane-->

                    <div class="tab-pane" id="history">
                        <br>
                        <h3 class="tittle-course">Các khóa học đã đăng kí</h3>

                        <section class="light mt-4">
                            <div class="container py-2">
                                <article class="postcard light blue">
                                    <a class="postcard__img_link" href="#">
                                        <img class="postcard__img" src="https://picsum.photos/501/500"
                                            alt="Image Title" />
                                    </a>
                                    <div class="postcard__text t-dark">
                                        <h1 class="postcard__title blue">dahbdahdsj</h1>
                                        <div class="postcard__subtitle small d-flex">
                                            <p>Ngày tạo: </p>
                                            <time datetime="2022-05-25 12:00:00">
                                                <i class="fas fa-calendar-alt mr-2"></i>snmcnsncdjas
                                            </time>
                                        </div>
                                        <div class="postcard__bar"></div>
                                        <div class="postcard__preview-txt">nasdjkandjkj</div>
                                    </div>
                                </article>

                            </div>
                        </section>
                        <br>
                     
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script>
        const userJs = {{{ userJSON }}};
        const avtDefauld = "http://ssl.gstatic.com/accounts/ui/avatar_2x.png";
        document.addEventListener('DOMContentLoaded', function () {
            var male = document.getElementById("maleValue");
            var female = document.getElementById("femaleValue");
            var otherGender = document.getElementById("otherValue");
            var student = document.getElementById("student");
            var teacher = document.getElementById("teacher");
            var avatarImg = document.getElementById("img-preview");

            if (userJs.gender === "male") {
                male.setAttribute('selected', 'selected');
            }
            else {
                female.setAttribute('selected', 'selected');
            }

            if (userJs.role === "student") {
                student.setAttribute('selected', 'selected');
            } else {
                teacher.setAttribute('selected', 'selected');
            }

            if (userJs.image === null) {
                avatarImg.src = avtDefauld;
            }
            else {
                avatarImg.src = userJs.image;
            }
        });

        const input = document.getElementById('file-input');
        const image = document.getElementById('img-preview');

        input.addEventListener('change', (e) => {
            if (e.target.files.length) {
                const src = URL.createObjectURL(e.target.files[0]);
                image.src = src;
            }
        });

    </script>
</body>

<div class="container py-5 modal" id="delete-course-modal" tabindex="-1" role="dialog">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formChangePassword"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Thay đổi mật khẩu</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" method="post" name="change-password-form" autocomplete="off">
                        <div class="form-group">
                            <label for="inputPasswordOld">Nhập mật khẩu hiện tại</label>
                            <input type="password" class="form-control" id="inputPasswordOld" required="">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew">Nhập mật khẩu mới</label>
                            <input type="password" class="form-control" id="inputPasswordNew" required="">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNewVerify">Xác thực mật khẩu</label>
                            <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success float-right btn-save-pass">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordOld = document.getElementById('inputPasswordOld');
        var passwordNew = document.getElementById('inputPasswordNew');
        var verifyPassword = document.getElementById('inputPasswordNewVerify');
        var saveBtn = $('.btn-save-pass');
        var changePasswordForm = document.forms['change-password-form'];

        saveBtn.click(function (e) {
            e.preventDefault();
            const passOldValue = passwordOld.value;
            const passNewValue = passwordNew.value;
            const passVerifyValue = verifyPassword.value;

            if (passNewValue !== passVerifyValue) {
                alert("Xác nhận mật khẩu sai")
            }
            else {
                if (passOldValue == userJs.password) {
                    changePasswordForm.submit();
                    console.log('/user/' + userJs._id + '/change_pass?_method=PATCH')
                    changePasswordForm.action = '/user/' + userJs._id + '/change_pass?_method=PATCH';
                }
                else {
                    alert("mật khẩu cũ sai")
                }

            }


        });
    });
</script>