{{#section 'js'}}
<script>
  const chapterData = {{{ chapterJSON }}};
  for (var el of chapterData) {
    for (var e of el.listVideo) {
      const queryImage = `#image${e.chapter}${e.lession}`;
      $(queryImage).fileinput({
        theme: 'fa4',
        allowedFileExtensions: ['png', 'jpg'],
        uploadAsync: true,
        reversePreviewOrder: true,
        initialPreviewAsData: true,
        overwriteInitial: true,
        initialPreview: e.avtVideo,
      });
      const queryVideo = `#video${e.chapter}${e.lession}`;
      $(queryVideo).fileinput({
        theme: 'fa4',
        allowedFileExtensions: ['mp4'],
        uploadAsync: true,
        reversePreviewOrder: true,
        initialPreviewAsData: true,
        overwriteInitial: true,
        initialPreview: e.urlVideo,
        initialPreviewConfig: [{
          type: "video",
          filetype: "video/mp4",
          downloadUrl: e.urlVideo
        }]
      });
    }
  }

  function addChapter() {
    $.getJSON('/teacher/addCourse/addChapter', function (data) {
      if (data === false) {
        alert('Error to add chapter!');
      } else {
        console.log(data)
      }
    });
  }

  function addLession(chapter) {
    $.getJSON(`/teacher/addCourse/addLession?chapter=${chapter}`, function (data) {
      if (data === false) {
        alert('Error to add lession!');
      } else {
        console.log(data)
      }
    });
  }

  function completeCourse() {
    $.getJSON(`/teacher/addCourse/completeCourse`, function (data) {
      if (data === false) {
        alert('Not available for registration!');
      } else {
        console.log(data)
      }
    });
  }
</script>
{{/section}}

<div class="row">
  <div class="col col-md-3 col-sm-4 p-0">
    <h5 class="mt-5">Kế hoạch khóa học</h5>
    <ul class="list-unstyled">
      <li class="my-3">
        <a href="/teacher/addCourse?step=1" class="text-dark courseLink font-size-16 text-decoration-none">
          {{#if step1}} 
          <i class="fa fa-check-circle-o text-info" aria-hidden="true"></i>
          {{else}} 
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          {{/if}}
          Mục tiêu khóa học
        </a>
      </li>
      <li class="my-3">
        <a href="/teacher/addCourse?step=2" class="text-dark courseLink font-size-16 text-decoration-none">
          {{#if step1}} 
          <i class="fa fa-check-circle-o text-info" aria-hidden="true"></i>
          {{else}} 
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          {{/if}}
          Cấu trúc khóa học
        </a>
      </li>
    </ul>

    <h5 class="mt-5">Tạo khóa học</h5>
    <ul class="list-unstyled">
      <li class="my-3">
        <a href="/teacher/addCourse?step=3" class="text-dark courseLink font-size-16 text-decoration-none">
          {{#if step3}} 
          <i class="fa fa-check-circle-o text-info" aria-hidden="true"></i>
          {{else}} 
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          {{/if}}
          Thông tin khóa học
        </a>
      </li>
      <li class="my-3">
        <a href="/teacher/addCourse?step=4" class="text-dark courseLink font-size-16 text-decoration-none">
          {{#if step4}} 
          <i class="fa fa-check-circle-o text-info" aria-hidden="true"></i>
          {{else}} 
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          {{/if}}
          Chương trình giảng dạy
        </a>
      </li>
      <li class="my-3">
        <a href="/teacher/addCourse?step=5" class="text-dark courseLink font-size-16 text-decoration-none">
          {{#if step5}} 
          <i class="fa fa-check-circle-o text-info" aria-hidden="true"></i>
          {{else}} 
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          {{/if}}
          Học phí
        </a>
      </li>
    </ul>

    <button type="post" onclick="submitCourse()" class="btn btn-lg rounded-0 btn-outline-info mt-4" role="button"
      aria-pressed="true">
      Đăng khóa học
    </button>
  </div>

  <div class="col shadow pb-3 px-0 mb-5">
    <form id="frmCurriculum" method="post" enctype="multipart/form-data">
      <h3 class="p-5 border-bottom">Chương trình giảng dạy</h3>
      <div class="col px-5 py-4">
        <p class="mb-2">Bắt đầu kết hợp khóa học của bạn bằng cách tạo các phần, bài giảng và thực hành (các câu đố, bài
          tập mã hóa và bài tập).
        </p>
        <p class="mb-5">Nếu bạn có ý định cung cấp khóa học của mình miễn phí, tổng thời lượng nội dung video phải dưới
          2 giờ.
        </p>

        <div class="row">
          <div class="col">
            {{#each this.chapter}}
            <div class="mb-3">
              <div class="card rounded-0 border-dark bg-light">
                <div class="input-group input-group-prepend">
                  <span class="input-group-text rounded-0 text-dark border-top-0 border-bottom-0 text-center"
                    id="basic-addon1">
                    Chương {{chapter}}
                  </span>
                  <input type="text" class="form-control rounded-0 border-top-0 border-bottom-0" placeholder="Tiêu đề"
                    aria-label="title" aria-describedby="basic-addon1" name="{{chapter}}|title" value="{{title}}">
                  <button class="btn btn-light rounded-0" type="button" data-toggle="collapse"
                    data-target="#chapter{{chapter}}" aria-expanded="false" aria-controls="chapter{{chapter}}">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </button>
                </div>

                <div class="card-body container multi-collapse collapse border-top border-dark" id="chapter{{chapter}}">
                  {{#each listVideo}}
                  <div class="card mb-3 rounded-0 border-dark">
                    <div class="input-group">
                      <div class="input-group input-group-prepend">
                        <span class="input-group-text rounded-0 text-dark border-bottom-0" id="basic-addon1">
                          Bài {{lession}}</span>
                        <input type="text" class="form-control rounded-0 border-0" name="{{chapter}}|name|{{lession}}"
                          placeholder="Nhập tiêu đề bài {{lession}}" aria-label="title" aria-describedby="basic-addon1"
                          value="{{name}}">
                        <button class="btn btn-light rounded-0 dropdown-toggle border-left" type="button"
                          data-toggle="collapse" data-target="#lession{{chapter}}{{lession}}" aria-expanded="false"
                          aria-controls="lession{{chapter}}{{lession}}">
                        </button>
                      </div>
                      <div class="card-body container multi-collapse collapse border-top border-dark"
                        id="lession{{chapter}}{{lession}}">
                        <div class="input-group mb-3">
                          <label for="" class="font-weight-bold text-info">Ảnh đại diện video</label>
                          <input type="file" width="100%" id="image{{chapter}}{{lession}}" class="fuImage"
                            name="{{chapter}}|image|{{lession}}">
                        </div>
                        <div class="input-group">
                          <label for="" class="font-weight-bold text-info">Video bài giảng</label>
                          <input type="file" width="100%" id="video{{chapter}}{{lession}}" class="fuVideo"
                            name="{{chapter}}|video|{{lession}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                  <button class="btn btn-light border-dark rounded-0 pull-right ml-2" type="submit"
                    onclick="addLession({{chapter}})">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Thêm bài
                  </button>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-light border-dark rounded-0 mt-3" type="submit" onclick="addChapter()">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Thêm chương
            </button>
            {{#if complete}}
            <button type="submit" onclick="completeCourse()" class="btn btn-outline-warning rounded-0 mt-3">
              Đánh dấu chưa hoàn thành
            </button>
            {{else}}
            <button type="submit" onclick="completeCourse()" class="btn btn-outline-success rounded-0 mt-3">
              Đánh dấu hoàn thành khóa học
            </button>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-lg pull-right bg-lightseagreen" type="submit">Save</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>