<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/5a854a2686.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div class="container-fluid">
        <div class="title__biggest">DASHBOARD</div>
        <div class="row">
            <main role="main" class="col-md-9 col-lg-12 my-3">
                <div class="card-list">
                    <div class="row">
                        <div class="col-10 col-md-5 col-lg-4 col-xl-2 mb-4">
                            <div class="card card-1">
                                <div class="contain__title">
                                    <div class="contain__infor">
                                        <div class="title">Students</div>
                                        <div class="value">{{students}}</div>
                                    </div>
                                    <i class="bi bi-people-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-5 col-lg-4 col-xl-2 mb-4">
                            <div class="card card-2">
                                <div class="contain__title">
                                    <div class="contain__infor">
                                        <div class="title">New Students</div>
                                        <div class="value">{{newstudents}}</div>
                                    </div>
                                    <i class="bi bi-person-fill-check"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-5 col-lg-4 col-xl-2 mb-4">
                            <div class="card card-3">
                                <div class="contain__title">
                                    <div class="contain__infor">
                                        <div class="title">Teachers</div>
                                        <div class="value">{{teachers}}</div>
                                    </div>
                                    <i class="bi bi-person-video3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-5 col-lg-4 col-xl-2 mb-4">
                            <div class="card card-4">
                                <div class="contain__title">
                                    <div class="contain__infor">
                                        <div class="title">Category</div>
                                        <div class="value">{{categoryl}}</div>
                                    </div>
                                    <i class="bi bi-aspect-ratio-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-5 col-lg-4 col-xl-2 mb-4">
                            <div class="card card-5">
                                <div class="contain__title">
                                    <div class="contain__infor">
                                        <div class="title">Courses</div>
                                        <div class="value">{{totalcourses}}</div>
                                    </div>
                                    <i class="bi bi-book-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-5 col-lg-4 col-xl-2 mb-4">
                            <div class="card card-6">
                                <div class="contain__title">
                                    <div class="contain__infor">
                                        <div class="title">Total Budgets</div>
                                        <div class="value">${{numberWithDot budget}}</div>
                                    </div>
                                    <i class="bi bi-cash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects mb-4">
                    <div class="projects-inner">
                        <header class="projects-header">
                            <div class="title">Teacher Waiting Accept</div>
                            <div class="count">| 3 Teachers</div>
                            <i class="zmdi zmdi-download"></i>
                        </header>
                        <table class="projects-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Request Time</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Experience</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            {{#each listrq}}
                            <tr>
                                <td>
                                    <p>{{addOne @index}}</p>
                                </td>
                                <td>
                                    <p>{{getDate this.createdAt}}</p>
                                    <p class="text-danger">{{getTime this.createdAt}}</p>
                                </td>
                                <td class="member">
                                    <div class="member-info">
                                        <p>{{this.name}}</p>
                                        <p>{{this.where}}</p>
                                    </div>
                                </td>
                                <td>
                                    <p>{{this.description}}</p>
                                </td>
                                <td>
                                    <p style="word-break: keep-all;">{{this.experience}}</p>
                                </td>
                                <td>
                                    <div class="btn__contain">
                                        <div class="button__accept">
                                            <button class="btn_action" id="accept-rq-btn" data-idrequest={{this._id}}>Accept <i class="bi bi-check-lg"></i></button>
                                        </div>
                                        <div class="button__deny">
                                            <button class="btn_action btn_action_remove-rq" data-toggle="modal" data-target="#deleterequest" data-idrequest={{this._id}}>Remove <i class="bi bi-x-lg"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}

                        </table>
                    </div>
                </div>
                <div class="chart-data">
                    <div class="row">
                        <div class="col-8 col-md-2 pr-0">
                            <div class="discount card--sub" style="--delay: .4s">
                                <div class="title">Teacher Rate <i class="bi bi-person-video3"></i></div>
                                <div class="discount-wrapper">
                                    <div class="discount-info">
                                        <div class="subtitle">New Teacher:</div>
                                        <div class="subtitle-count">{{newteachers}}</div>
                                        <div class="subtitle">Percentage by Yesterday</div>
                                        <div class="subtitle-count dist">{{divide1 newteachers teachers}}%</div>
                                    </div>
                                    <div class="discount-chart">
                                        <div class="circle">
                                            <div class="pie">
                                                <svg>
                                                    <circle cx="60" cy="60" r="50"></circle>
                                                </svg>
                                            </div>
                                            <div class="counter counter1" data-percent1={{divide1 newteachers teachers}}>0</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button offer-button mt-4">View Detail</div>
                            </div>
                        </div>
                        <div class="col-8 col-md-2 pr-0">
                            <div class="discount card--sub" style="--delay: .4s">
                                <div class="title">Course Rate <i class="bi bi-person-video3"></i></div>
                                <div class="discount-wrapper">
                                    <div class="discount-info">
                                        <div class="subtitle">New Course:</div>
                                        <div class="subtitle-count">{{newcourses}}</div>
                                        <div class="subtitle">Percentage by Yesterday</div>
                                        <div class="subtitle-count dist">{{divide1 newcourses totalcourses}}%</div>
                                    </div>
                                    <div class="discount-chart">
                                        <div class="circle">
                                            <div class="pie">
                                                <svg>
                                                    <circle cx="60" cy="60" r="50"></circle>
                                                </svg>
                                            </div>
                                            <div class="counter counter2" data-percent1={{divide1 newcourses totalcourses}}>0</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button offer-button mt-4" onclick="window.location='deletecourse'">View Detail</div>
                            </div>
                        </div>
                        <div class="col-8 col-md-8 pr-3">
                            <div class="projects-inner">
                                <header class="projects-header">
                                    <div class="title tile__tmp">Newest Accept Course</div>
                                </header>
                                
                                <table class="projects-table">
                                    <thead>
                                        <tr>
                                            <th>Request Time</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Teacher</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    {{#each newestcourse}}
                                    <tr>
                                        <td>
                                            <p>{{getDate this.createdAt}}</p>
                                            <p class="text-danger">{{getTime this.createdAt}}</p>
                                        </td>
                                        <td >
                                            <p>{{this.name}}</p>
                                        </td>
                                        <td>
                                            <p>{{this.field.category.name}}</p>
                                        </td>
                                        <td class="member">
                                            <figure><img
                                                src={{this.createdBy.image}} />
                                            </figure>
                                            <div class="member-info">
                                                <p>{{this.createdBy.name}}</p>
                                                <p>{{this.createdBy.where}}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn__contain">
                                                <div class="button__accept">
                                                    <button class="btn_action" id="accept-crs-btn" data-idcourse={{this._id}}>Accept <i class="bi bi-check-lg"></i></button>
                                                </div>
                                                <div class="button__deny">
                                                    <button class="btn_action btn_action_remove-crs" data-toggle="modal" data-target="#deletecourse" data-id={{this._id}}>Remove <i class="bi bi-x-lg"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {{!-- DIALOG CONFIRM --}}
        <div class="modal" tabindex="-1" role="dialog" id="deletecourse" style="top: 30%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa khóa học</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc muốn xóa khóa học này?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

        {{!-- DIALOG CONFIRM --}}
        <div class="modal" tabindex="-1" role="dialog" id="deleterequest" style="top: 30%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa yêu cầu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc muốn xóa yêu cầu này?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-delete-request" type="button" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

    
    {{!-- Accept request --}}
    <form id="accept-request-form" method="post"></form>

    {{!-- Remove request --}}
    <form id="remove-request-form" method="post"></form>

    {{!-- Accept course --}}
    <form id="accept-course-form" method="post"></form>

    {{!-- Remove course --}}
    <form id="delete-course-form" method="post"></form>

    <script>
        //Graph 1
        const counter = document.querySelector(".counter1");
        var datapc1 = counter.getAttribute('data-percent1');
        let count = 0;
        setInterval(() => {
            if (count == datapc1) {
                clearInterval(count);
            }
            else {
                count += 1;
                counter.textContent = count + "%";
            }
        }, 35);

        //Graph 2
        const counter2 = document.querySelector(".counter2");
        var datapc2 = counter2.getAttribute('data-percent1');
        
        let count2 = 0;
        setInterval(() => {
            if (count2 == datapc2) {
                clearInterval(count2);
            }
            else {
                count2 += 1;
                counter2.textContent = count2 + "%";
            }
        }, 35);

        //Accept request
        var btnAcceptrq = document.getElementById('accept-rq-btn');
        btnAcceptrq.onclick = function() {
            var acceptrqform = document.getElementById('accept-request-form');
            var requestid = btnAcceptrq.getAttribute('data-idrequest');
            acceptrqform.action = 'dashboard/acceptrequest/' + requestid;
            acceptrqform.submit();
        }

        //Remove request
        var btndlrqs = $$(".btn_action_remove-rq");
        btndlrqs.forEach((btndlt, index) => {
            btndlt.onclick = function () {
                var dlrqsform = document.getElementById('remove-request-form');
                var dlmd = document.getElementById('btn-delete-request');
                dlmd.onclick = function () {
                     dlrqsform.action = 'dashboard/removerequest/' + btndlt.getAttribute('data-idrequest');
                     dlrqsform.submit();
                }
            };
        });

        //Accept course
        var btnAcceptCrs = document.getElementById('accept-crs-btn');
        btnAcceptCrs.onclick = function() {
            var acceptcrsform = document.getElementById('accept-course-form');
            var courseid = btnAcceptCrs.getAttribute('data-idcourse');
            acceptcrsform.action = 'dashboard/acceptcourse/' + courseid;
            acceptcrsform.submit();
        }

        //Remove course
        var btndeletes = $$(".btn_action_remove-crs");
        btndeletes.forEach((btndlt, index) => {
            btndlt.onclick = function () {
                var deleteform = document.getElementById('delete-course-form');
                var dlmd = document.getElementById('btn-delete-course');
                dlmd.onclick = function () {
                     deleteform.action = 'dashboard/removecourse/' + btndlt.getAttribute('data-id');
                     deleteform.submit();
                }
            };
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>

</html>