<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5a854a2686.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/courseDetail.css" type="text/css">
</head>

<body>
    <div class="content">
        <div class="wrap__content__heading">
            <div class="content__heading">
                <div class="content__heading_fix">
                    <h1>{{course.name}}</h1>
                    <p>{{course.summary}}</p>
                    <div class="content__heading-info">
                        <p class="number_star">{{course.ratingsAverage}}</p>
                        <ul class="rate">
                            <li><i class="fa-solid fa-star star__rate"></i></li>
                            <li><i class="fa-solid fa-star star__rate"></i></li>
                            <li><i class="fa-solid fa-star star__rate"></i></li>
                            <li><i class="fa-solid fa-star star__rate"></i></li>
                            <li><i class="fa-solid fa-star star__rate"></i></li>
                        </ul>
                        <a class="rating" href="">({{reviews.length}} Đánh giá)</a>
                        <p class="member_number"><i class="fa-solid fa-users"></i> {{course.studentList.length}} học
                            viên</p>
                        <br>
                        <p>Được tạo bởi:</p>
                        <p class="name_author"><a href="" class="">{{course.createdBy.name}}</a></p>
                        <br>
                        <p id="headingvideo"><i class="fa-solid fa-wrench"></i>&nbsp; Lần cập nhật gần đây nhất: {{
                            course.updatedAt}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video">
            <div class="video_fix">
                <video width="100%" height="315" onclick="playVideo1()" class="watch__body-video-frame" id="player"
                    playsinline controls preload="auto" poster={{course.image}}>
                    <source src={{course.videodemo}} type="video/mp4" class="videosrc"/>
                </video>
            </div>
        </div>
        <div class="contain__tabs">
            <div class="tabs">
                <a href="#heading1" class="tab-item active">
                    Lợi ích
                </a>
                <a href="#heading2" class="tab-item">
                    Mô tả
                </a>
                <a href="#heading3" class="tab-item">
                    Giáo trình
                </a>
                <a href="#heading4" class="tab-item">
                    Giảng viên
                </a>
                <a href="#heading5" class="tab-item">
                    Đánh giá
                </a>
                <a href="#heading6" class="tab-item">
                    Các khóa học liên quan
                </a>
                <div class="line"></div>
            </div>
        </div>
        <div id="heading1" class="content__learn">
            <div class="content__learn_fix">
                <h3>Lợi ích từ khóa học</h3>
                <div class="content__learn-list">
                    <ul>
                        {{#each benifits}}
                        <li><i class="fa-regular fa-circle-check"></i>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>
        <div id="heading2" class="content__learn">
            <div class="content__learn_fix">
                <h3>Giới thiệu khóa học</h3>
                <div class="content__learn-intro">
                    <p>{{{course.description}}}</p>
                </div>
            </div>
        </div>
        <div id="heading3" class="content__learn">
            <div class="content__learn_fix">
                <h3>Nội dung khóa học</h3>
                <div class="heading__chapters">
                    <div class="total__infor">
                        <span class="infor__item"><i class="fa-solid fa-list"></i> Tổng</span>
                        <span class="infor__item">{{sumk course.listChapter.length}} chương</span>
                        <span class="infor__item">{{numbervideo}} bài giảng</span>
                    </div>
                    <span class="total__time">
                        {{changeTime totaltime}}
                    </span>
                </div>
                <div class="wrapper">
                    <!-- Option course  -->
                    <nav id="sidebar">
                        <ul class="list-unstyled components">
                            <li>
                                <a href="#SubMenu" data-toggle="collapse" aria-expanded="false"
                                    class="dropdown-toggle">
                                   {{coursevideodemo.title}}
                                </a>
                                <ul class="collapse list-unstyled" id="SubMenu">
                                    {{#each coursevideodemo.listVideo}}
                                    <li>
                                        <a href="#headingvideo" class="canviewchapter" data-img={{this.avtVideo}} data-video={{this.urlVideo}}>
                                            <div class="chapter-item">
                                                <i class="fa-solid fa-circle-play"></i>
                                                {{this.name}}
                                            </div>
                                            <span>{{changeTime this.duration}}</span>
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>

                            {{#each course.listChapter}}
                            <li>
                                <a href=#Sub{{this._id}} data-toggle="collapse" aria-expanded="false"
                                    class="dropdown-toggle">
                                    {{this.title}}
                                </a>
                                <ul class="collapse list-unstyled" id=Sub{{this._id}}>
                                    {{#each this.listVideo}}
                                    <li>
                                        <a>
                                            <div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                {{this.name}}
                                            </div>
                                            <span>{{changeTime this.duration}}</span>
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <div id="heading4" class="content__learn">
            <div class="content__learn_fix teacher__tab">
                <h3>Giảng Viên</h3>
                <div class="name__teacher">
                    <a href="">{{course.createdBy.name}}</a>
                    <span>{{course.createdBy.where}}</span>
                </div>

                <div class="infor__teacher">
                    <div class="infor__part1">
                        <div class="avt__container">
                            <img src={{course.createdBy.image}} alt="">
                        </div>
                        <div class="infor__container">
                            <ul class="infor__list">
                                <li class="infor__item"><i class="fa-solid fa-medal"></i>{{numberReviews}} đánh giá</li>
                                <li class="infor__item"><i class="fa-solid fa-user-group itemcc"></i>{{numberStudent}} học viên</li>
                                <li class="infor__item"><i class="fa-solid fa-circle-play"></i>{{numbercourse}} khóa học</li>
                            </ul>
                        </div>
                    </div>
                    <div class="infor__blank"></div>
                </div>
                <p class="teacher__description">
                    {{course.createdBy.description}}
                </p>

            </div>
        </div>
        <div id="heading5" class="content__learn">
            <div class="content__learn_fix feedback__content">
                <h3>Đánh giá</h3>
                <div class="feedback__wrapper">
                    <div id="product-detail-collapse2" class="collapse show pt-3"
                        aria-labelledby="product-detail-heading2" data-parent="#product-detail-accordion">
                        <div>
                            <div class="component-show-rate d-flex rounded-lg row ml-0 mr-0">
                                <div
                                    class="content-left col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 p-3 d-flex flex-column justify-content-center align-items-center">
                                    <p class="mb-0">Đánh giá trung bình</p>
                                    <div class="avg-rate font-weight-bold">
                                        <span>{{ course.ratingsAverage }}</span>
                                        <span>/5</span>
                                    </div>
                                    <div class="star-rate">
                                        <i class="fa fa-star star__rate2 "></i>
                                        <i class="fa fa-star star__rate2 "></i>
                                        <i class="fa fa-star star__rate2 "></i>
                                        <i class="fa fa-star star__rate2 "></i>
                                        <i class="fa fa-star star__rate2 "></i>
                                    </div>
                                    <p class="review m-0 mt-2">({{reviews.length}} nhận xét)</p>
                                </div>

                                <div
                                    class="content-center col-8 col-sm-8 col-md-6 col-lg-6 col-xl-6 p-3 d-flex flex-column justify-content-center align-items-center">
                                    <div class="star-percent d-flex align-items-center">
                                        <div class="mr-2">5 <i class="fas fa-star"></i></div>
                                        <div class="progress mr-2">
                                            <div class="progress-bar-1 progress-bar bg-success" role="progressbar"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="percent percent1">0%</div>
                                    </div>

                                    <div class="star-percent d-flex align-items-center">
                                        <div class="mr-2">4 <i class="fas fa-star"></i></div>
                                        <div class="progress mr-2">
                                            <div class="progress-bar-2 progress-bar bg-success" role="progressbar"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="percent percent2">0%</div>
                                    </div>

                                    <div class="star-percent d-flex align-items-center">
                                        <div class="mr-2">3 <i class="fas fa-star"></i></div>
                                        <div class="progress mr-2">
                                            <div class="progress-bar-3 progress-bar bg-success" role="progressbar"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="percent percent3">0%</div>
                                    </div>

                                    <div class="star-percent d-flex align-items-center">
                                        <div class="mr-2">2 <i class="fas fa-star"></i></div>
                                        <div class="progress mr-2">
                                            <div class="progress-bar-4 progress-bar" role="progressbar"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="percent percent4">0%</div>
                                    </div>

                                    <div class="star-percent d-flex align-items-center">
                                        <div class="mr-2">1 <i class="fas fa-star"></i></div>
                                        <div class="progress mr-2">
                                            <div class="progress-bar-5 progress-bar" role="progressbar"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="percent percent5">0%</div>
                                    </div>
                                </div>

                                <div
                                    class="content-right col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-3 d-flex flex-column justify-content-center align-items-center">
                                    <p class="mb-2">Chia sẻ nhận xét về khóa học</p>

                                    <button type="button" class="btn btn-success feedbackbtn w-100"
                                        data-toggle="collapse"
                                        data-target="#product-detail-accordion-post-comment-collapse"
                                        aria-expanded="false"
                                        aria-controls="product-detail-accordion-post-comment-collapse">
                                        Nhận xét
                                    </button>
                                </div>
                            </div>

                            <div class="collapse-show-rate collapse"
                                id="product-detail-accordion-post-comment-collapse">
                                <div class="comment p-3 rounded-lg">
                                    <h6 class="text-uppercase mb-3">gửi nhận xét của bạn</h6>

                                    <div class="d-flex align-items-center">
                                        <p class="m-0 mr-2">1. Đánh giá của bạn về sản phẩm này:</p>
                                        <div class="rate">
                                            <input type="radio" id="product-detail-accordion-star1" name="rate"
                                                value="1" />
                                            <label for="product-detail-accordion-star1" title="text"></label>
                                            <input type="radio" id="product-detail-accordion-star2" name="rate"
                                                value="2" />
                                            <label for="product-detail-accordion-star2" title="text"></label>
                                            <input type="radio" id="product-detail-accordion-star3" name="rate"
                                                value="3" />
                                            <label for="product-detail-accordion-star3" title="text"></label>
                                            <input type="radio" id="product-detail-accordion-star4" name="rate"
                                                value="4" />
                                            <label for="product-detail-accordion-star4" title="text"></label>
                                            <input type="radio" id="product-detail-accordion-star5" name="rate"
                                                value="5" />
                                            <label for="product-detail-accordion-star5" title="text"></label>
                                        </div>
                                    </div>

                                    <form method="post" action='/course/{{course._id}}/createfeedback'>
                                        <div class="form-group">
                                            <label for="product-detail-accordion-collapse-show-rate-comment-content">2.
                                                Viết nhận xét của bạn vào bên dưới:</label>
                                            <textarea class="form-control"
                                                id="product-detail-accordion-collapse-show-rate-comment-content"
                                                rows="3" placeholder="Nhận xét của bạn về sản phẩm này"
                                                name="feedback"></textarea>
                                        </div>
                                        <div class="btn__fb-contain">
                                            <input type="cc" class="starnb" name="starnb">
                                            <input type="cc" class="starnb" name="iduser" value={{iduser}}>
                                            <button type="submit" class="btn btn-success feedbackbtn">Gửi nhận
                                                xét</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__learn">
            <div class="content__learn_fix feedback__content">
                <h3>Bình luận gần đây</h3>
                <div class="comment__wrapper">
                    <div class="card-comment">
                        <div class="card-body-comment">
                            <div class="comment-widgets m-b-20">

                                {{#each reviews}}
                                <div class="d-flex flex-row comment-row ">
                                    <div class="p-2 mr-2"><span class="round"><img src={{this.user.image}} alt="user"
                                                width="50" height="50"></span></div>
                                    <div class="comment-text active w-100">
                                        <h5>{{this.user.name}}</h5>
                                        <div class="comment-footer">
                                            <span class="date">{{this.createdAt}}</span>
                                            <span class="action-icons active">
                                                <a data-toggle="modal" data-target="#deletereviewmodal" data-id={{this._id}} class="delete-review-btn"><i class="fa-solid fa-trash trash"></i></a>
                                                <a><i class="fa fa-heart fvricon"></i></a>
                                            </span>
                                        </div>
                                        <p class="m-b-5 m-t-10">{{this.comment}}</p>
                                    </div>
                                    <input type="cc" class="starnb" name="star" value={{this.rating}}>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div id="heading6" class="content__learn">
            <div class="content__learn_fix course__content">
                <h3>Cùng được mua nhiều nhất</h3>
                <div class="relative__courses">
                    <div class="mt-4">
                        <div class="row-1">
                            {{#each relative1}}
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg'
                                        src={{this.image}}
                                        alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>{{this.name}}</h5>
                                        <div class="card-text hiden-text">{{{this.description}}}</div>
                                        <div class="student-rating">
                                            <div class="star-rating1" id="cl{{this._id}}" data-star={{this.ratingsAverage}} data-id={{this._id}}>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">{{this.studentList.length}} students</p>
                                        </div>

                                        <p class="author-name">{{this.createdBy.name}}</p>
                                        <div class="contain-outstanding">
                                            <a href='/course/{{this._id}}' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">{{numberWithDot this.price}}đ </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="row-1">
                            {{#each relative2}}
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg' src={{this.image}} alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>{{this.name}}</h5>
                                        <div class="card-text hiden-text">{{{this.description}}}</div>
                                        <div class="star-rating2" id="ck{{this._id}}" data-star={{this.ratingsAverage}} data-id={{this._id}}>
                                            <div>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">{{this.studentList.length}} students</p>
                                        </div>

                                        <p class="author-name">{{this.createdBy.name}}</p>
                                        <div class="contain-outstanding">
                                            <a href='/course/{{this._id}}' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">{{numberWithDot this.price}}đ </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <div class="blankitem"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__course">
            <div class="courseimg__contain">
                <div class="background_img" style="background-image: url({{course.image}});"></div>
            </div>
            <strong class="price">{{course.priceDiscount}} <span class="symbol_price">đ</span></strong>
            <del>{{course.price}}</del>
            <p class="giam">({{divide course.priceDiscount course.price }}% OFF)</p>
            <div class="btn__container">
                <button class="cart" id="buy-course-btn" data-idcourse={{course._id}} data-crs={{flagbuy}}><i class="fa-solid fa-cart-shopping"></i>Mua ngay</button>
                <button class="buy buy__disabled" disabled><a href="/study/{{course._id}}" class="vhoc disabled-link">Vào học</a></button>
            </div>
            <ul>
                <li><strong>Khóa học này bao gồm</strong></li>
                <li><i class="fa-solid fa-clock"></i>Thời lượng: <strong>{{formatTime (changeTime totaltime)}}</strong></li>
                <li><i class="fa-solid fa-display"></i>{{numbervideo}} bài giảng</li>
                <li><i class="fa-solid fa-infinity"></i>Sở hữu khóa học trọn đời</li>
                <li><i class="fa-solid fa-trophy"></i>Cấp chứng nhận hoàn thành</li>
                <li><button id="savetoLove" data-idcourse={{course._id}} data-flag={{flagfvr}}><i class="fa-solid fa-heart iconheart"></i>Lưu vào yêu thích</button></li>
            </ul>
        </div>

        <div class="component-go-up">
            <button type="button" id="btn-go-up" class="btn btn-success btn-go-up" onclick="topFunction()">
                <i class="fas fa-arrow-up fa-2x icon-go-up"></i>
            </button>
        </div>

        {{!-- DIALOG CONFIRM --}}
        <div class="modal" tabindex="-1" role="dialog" id="deletereviewmodal" style="top: 30%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa bình luận</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc muốn xóa bình luận này?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-delete-review" type="button" class="btn btn-danger">Xóa</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Delete form hidden --}}
    <form id="delete-review-form" method="post"></form>

    {{!-- Add to favorite --}}
    <form id="add-favorite-form" method="post"></form>

    {{!-- Buy course --}}
    <form id="buy-course-form" method="post"></form>

    <script>
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);


        //Love comment
        const fvrhearts = $$(".fvricon");
        fvrhearts.forEach((tab, index) => {

            tab.onclick = function () {
                if (this.style.color == '') {
                    this.style.color = 'red';
                }
                else {
                    this.style.color = '';
                }
            }
        });

        //Auto Navbar
        const tabs = $$(".tab-item");
        const tabActive = $(".tab-item.active");
        const line = $(".tabs .line");

        requestIdleCallback(function () {
            line.style.left = tabActive.offsetLeft + "px";
            line.style.width = tabActive.offsetWidth + "px";
        });

        tabs.forEach((tab, index) => {

            tab.onclick = function () {
                $(".tab-item.active").classList.remove("active");

                line.style.left = this.offsetLeft + "px";
                line.style.width = this.offsetWidth + "px";

                this.classList.add("active");
            };
        });

        //Scroll to Top button
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("btn-go-up").style.display = "flex";
            } else {
                document.getElementById("btn-go-up").style.display = "none";
            }
        };

        function topFunction() {
            window.scrollTo(0, 0);
        }

        //Rating star
        const stars = $$(".star__rate");
        var nbstar = parseInt($(".number_star").innerHTML);
        for (var i = 0; i < nbstar; i++) {
            stars[i].classList.add("active");
        }

        const stars2 = $$(".star__rate2");
        for (var i = 0; i < nbstar; i++) {
            stars2[i].classList.add("checked");
        }

        //Rating
        const starctn = $("input.starnb");
        const rdbtns = document.getElementsByName("rate");
        var checkbtn = 1;
        rdbtns.forEach((rdbtn, index) => {

            rdbtn.onclick = function () {
                this.checked = true;

                for (var i = 1; i < 6; i++) {
                    const star1 = document.getElementById(`product-detail-accordion-star` + i);
                    if (star1.checked) {
                        checkbtn = 6 - i;
                        starctn.value = checkbtn;
                        //Get Rating star
                    };
                }
            };
        });

        //Get rating star in progressbar
        const starsPr = $$(".comment-row input.starnb");
        var cnt1 = 0, cnt2 = 0, cnt3 = 0, cnt4 = 0, cnt5 = 0;
        for (var i = 0; i < starsPr.length; i++) {
            if (starsPr[i].value == 1) cnt1 = cnt1 + 1;
            else if (starsPr[i].value == 2) cnt2 = cnt2 + 1;
            else if (starsPr[i].value == 3) cnt3 = cnt3 + 1;
            else if (starsPr[i].value == 4) cnt4 = cnt4 + 1;
            else if (starsPr[i].value == 5) cnt5 = cnt5 + 1;
        }

        cnt5 = Math.round(cnt5 / starsPr.length * 100); cnt4 = Math.round(cnt4 / starsPr.length * 100); cnt3 = Math.round(cnt3 / starsPr.length * 100);
        cnt2 = Math.round(cnt2 / starsPr.length * 100); cnt1 = Math.round(cnt1 / starsPr.length * 100);

        $(".progress-bar-1").ariaValueNow = cnt5; $(".progress-bar-2").ariaValueNow = cnt4; $(".progress-bar-3").ariaValueNow = cnt3;
        $(".progress-bar-4").ariaValueNow = cnt2; $(".progress-bar-5").ariaValueNow = cnt1;
        $(".progress-bar-1").style.width = cnt5 + "%"; $(".progress-bar-2").style.width = cnt4 + "%"; $(".progress-bar-3").style.width = cnt3 + "%";
        $(".progress-bar-4").style.width = cnt2 + "%"; $(".progress-bar-5").style.width = cnt1 + "%";
         $(".percent2").innerHTML = cnt4 + "%"; $(".percent3").innerHTML = cnt3 + "%";
        $(".percent4").innerHTML = cnt2 + "%"; $(".percent5").innerHTML = cnt1 + "%";

        if(isNaN(cnt5)){ $(".percent1").innerHTML = 0 + "%"; $(".progress-bar-1").style.width = 0 + "%" } else{ $(".percent1").innerHTML = cnt5 + "%";}
        if(isNaN(cnt4)){ $(".percent2").innerHTML = 0 + "%"; $(".progress-bar-2").style.width = 0 + "%" } else{ $(".percent2").innerHTML = cnt4 + "%";}
        if(isNaN(cnt3)){ $(".percent3").innerHTML = 0 + "%"; $(".progress-bar-3").style.width = 0 + "%" } else{ $(".percent3").innerHTML = cnt3 + "%";}
        if(isNaN(cnt2)){ $(".percent4").innerHTML = 0 + "%"; $(".progress-bar-4").style.width = 0 + "%" } else{ $(".percent4").innerHTML = cnt2 + "%";}
        if(isNaN(cnt1)){ $(".percent5").innerHTML = 0 + "%"; $(".progress-bar-5").style.width = 0 + "%" } else{ $(".percent5").innerHTML = cnt1 + "%";}

        //Delete comment
        var btndeletes = $$(".delete-review-btn");
        btndeletes.forEach((btndlt, index) => {
            btndlt.onclick = function () {
                var deleteform = document.getElementById('delete-review-form');
                var dlmd = document.getElementById('btn-delete-review');
                dlmd.onclick = function () {
                     deleteform.action = '/course/deletefeedback/' + btndlt.getAttribute('data-id');
                     deleteform.submit();
                }
            };
        });
        
        //Add course to favorite
        var btnAddtofvr = document.getElementById('savetoLove');
        btnAddtofvr.onclick = function() {
            var addfvrform = document.getElementById('add-favorite-form');
            var courseid = btnAddtofvr.getAttribute('data-idcourse');
            addfvrform.action = '/course/' + courseid + '/addtofavorite/' + btnAddtofvr.getAttribute('data-flag');
            addfvrform.submit();
        }

        //Change status of button add to favorite
        if(btnAddtofvr.getAttribute('data-flag') != 'true')
        {
            btnAddtofvr.style.borderColor = 'red';
            btnAddtofvr.innerHTML = `<i class="fa-solid fa-heart iconheart"></i>Bỏ thích`
            $(".iconheart").style.color = 'red';
        }

        //Buy course
        var buyCourse = document.getElementById('buy-course-btn');
        buyCourse.onclick = function() {
            var buycourseform = document.getElementById('buy-course-form');
            var courseid = buyCourse.getAttribute('data-idcourse');
            buycourseform.action = '/course/' + courseid + '/buycourse/' + buyCourse.getAttribute('data-crs');
            buycourseform.submit();
        }

        //Change status of button buy course
        if(buyCourse.getAttribute('data-crs') != 'true')
        {
            buyCourse.style.backgroundColor = 'black';
            buyCourse.style.color = 'white'
            buyCourse.innerHTML = 'Đã mua'
            buyCourse.disabled = true;

            $('.buy').disabled = false;
            $('.buy.buy__disabled').classList.remove("buy__disabled");
            $('.vhoc.disabled-link').classList.remove("disabled-link");
        }
        else{
            //Only buyer can review
            $('.feedbackbtn').disabled = true;
            $('.feedbackbtn').style.backgroundColor = '#cccccc';
            $('.feedbackbtn').style.color = '#666666';
        }

        //View videos demo
        var viewsvideobtn = $$(".canviewchapter");
        viewsvideobtn.forEach((btndlt, index) => {
            btndlt.onclick = function () {
                //current = $('#player').currentTime;
                var video = btndlt.getAttribute('data-video');
                var avtvideo = btndlt.getAttribute('data-img');
                $('#player').poster = avtvideo;
                $('.videosrc').src = video;
                $('#player').src = video
                //$('#player').currentTime = current;
                $('#player').play();
            };
        });

        //Relative course
        var starRating1 = document.querySelectorAll('.star-rating1');

        for(var i = 0; i < starRating1.length; i++){
            var idcr1 = starRating1[i].id;
            var stars1 = Math.round(document.getElementById(`${idcr1}`).getAttribute('data-star'));
            var starlist1 = document.querySelectorAll(`#${idcr1} .fa-star`);
            for(var j = 0; j < 5; j++)
            {
                if(j < stars1)
                {
                    starlist1[j].classList.add('checked');
                }
            }
        }

        var starRating2 = document.querySelectorAll('.star-rating2');

        for(var m = 0; m < starRating2.length; m++){
            var idcr2 = starRating2[m].id;
            var stars3 = Math.round(document.getElementById(`${idcr2}`).getAttribute('data-star'));
            var starlist2 = document.querySelectorAll(`#${idcr2} .fa-star`);
            for(var j = 0; j < 5; j++)
            {
                if(j < stars3)
                {
                    starlist2[j].classList.add('checked');
                }
            }      
        }

        window.onload = function () {
           console.log($('.hiden-text > p').style.marginBottom);
        };


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>