{{#section 'css'}}
<link rel="stylesheet" href="/css/adCategorySideBar.css" type="text/css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>


<body>
    <div>
        <!-- Bootstrap row -->
        <div class="row" id="body-row">
            <!-- MAIN Content -->
            <div class="col">
                <div class="mt-4 ml-5 d-flex">
                    <a href="/admin/category"
                        class="text-decoration-none font-weight-bold ml-4 text-primary">Category</a>
                </div>
                <div class="w-100 d-flex justify-content-end pr-5">
                    <div class="mr-2">
                        <a href="/admin/category"><button
                                class="text-decoration-none mr-5 btn-add-aspect-hover btn-add-aspect w-100 text-uppercase">Refresh</button></a>
                    </div>
                    <div class="mr-5">
                        <a href="#" data-toggle="modal" data-target="#add-category-modal">
                            <button
                                class="text-decoration-none mr-5 btn-add-aspect-hover btn-add-aspect w-100 text-uppercase">Add
                                new category
                            </button>
                        </a>
                    </div>
                </div>

                <div class="mt-4 mx-3 mb-4">
                    <div class="row mx-5">
                        {{#each allCategory}}
                        <div class="col-sm-6 .col-md-4 col-lg-4 mt-2">
                            <a href="#" data-id="{{this._id}}" class="text-decoration-none admin-field">
                                <!-- Card Dark -->
                                <div class="background-card-category card view-card-zoom my-2 d-flex flex-row">
                                    <!-- Card content -->
                                    <div class="card-body text-light rounded-bottom">
                                        <!-- Title -->
                                        <h4 class="card-title text-uppercase" id="title_category">{{this.name}}</h4>
                                        <p>Số lượng lĩnh vực: {{this.amount}}</p>
                                        <hr class="hr-light">
                                        <!-- Text -->

                                        <p class="card-text white-text mb-4 hiden-text">{{this.description}}</p>
                                    </div>
                                </div>
                                <!-- Card Dark -->
                            </a>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div><!-- Main Col END -->

        </div><!-- body-row END -->
    </div>
</body>

<div class="container py-5 modal" id="add-category-modal" tabindex="-1" role="dialog">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <span class="anchor" id="formChangePassword"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Thêm Category</h3>
                </div>
                <div class="card-body">
                    <form class="form" id="createCategoryForm" role="form" method="post" name="change-password-form"
                        autocomplete="off">
                        <div class="form-group" id="name-category">
                            <label for="inputPasswordOld">Tên danh mục</label>
                            <input name="name" type="text" class="form-control" id="name" required="">
                        </div>
                        <div class="form-group">
                            <label for="description">
                                <p class="mb-0">Mô tả</p>
                            </label>
                            <textarea name="description" required="" class="form-control textarea-resize"
                                id="description" rows="3">{{user.description}}</textarea>
                        </div>
                        <div class="form-group d-flex">
                            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success float-right btn-save-pass">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var colorText = "text-danger"
    var checkAvailable = `<p class="text-danger">Tên của danh mục đã tồn tại. Vui lòng nhập lại tên mới!</p>`;
    $('#createCategoryForm').on('submit', function (e) {
        e.preventDefault();

        const nameCategory = $('#name').val();
        if (nameCategory.length === 0) {
            alert('Please input a valid username.');
            return;
        }

        $.getJSON(`/admin/is-available?categoryName=${nameCategory}`, function (data) {
            if (data === false) {
                $('#name-category').append(checkAvailable);
            } else {
                $('#createCategoryForm').off('submit').submit();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var cardAdminCategory = $('.admin-field');
        
        console.log(cardAdminCategory)

        cardAdminCategory.click(function() {
            var categorydId = $(this).data('id');
            console.log(categorydId)
            var path = '/admin/category/' + categorydId;
            cardAdminCategory.attr("href", path);
        })
    });


</script>