<head>
    <link rel="stylesheet" href="/css/adCategorySideBar.css" type="text/css">
</head>

<body>
    <div>
        <!-- Bootstrap row -->
        <div class="row" id="body-row">
            <!-- Sidebar -->
<<<<<<< HEAD
<<<<<<< HEAD
=======
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
                <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
                <!-- Bootstrap List Group -->
                <ul class="list-group">
                    <!-- Separator with title -->
                    <li
                        class="list-group-item sidebar-separator-title ml-2 text-muted d-flex align-items-center menu-collapsed">
                        <small>MAIN MENU</small>
                    </li>
                    <!-- /END Separator -->
                    <!-- Menu with submenu -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed ml-2 text-uppercase">LẬP TRÌNH WEB</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="#nodejs" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">NODEJS</span>
                        </a>
                        <a href="#reactjs" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">REACTJS</span>
                        </a>
                        <a href="#angular" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">ANGULAR</span>
                        </a>
                    </div>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            {{!-- <span class="fa fa-fw mr-3"></span> --}}
                            <span class="menu-collapsed text-uppercase ml-2">LẬP TRÌNH MOBILE</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a href="#" data-toggle="tab" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">KOTLIN</span>
                        </a>
                        <a href="#" data-toggle="tab" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">SWIFT</span>
                        </a>
                    </div>

                    <!-- Separator without title -->
                    <li class="list-group-item sidebar-separator menu-collapsed"></li>
                    <!-- /END Separator -->


                    <!-- Logo -->
                    <li class="list-group-item logo-separator d-flex justify-content-center">
                        <img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30"
                            height="30" />
                    </li>
                </ul><!-- List Group END-->
            </div><!-- sidebar-container END -->

>>>>>>> 658058b (category admin vwCategoryAdmin folder)
=======
>>>>>>> 4da6f1b (merge task2 final)

            <!-- MAIN Content -->
            <div class="col">
                <div class="mt-4 ml-5 d-flex">
                    <a href="/admin" class="text-decoration-none font-weight-bold ml-4 text-primary">Category</a>
                    <a href="#" class="text-decoration-none font-weight-bold text-dark">><a href="#"
                            class="text-decoration-none font-weight-bold text-primary path-back">Field</a></a>
                    <a href="#" class="text-decoration-none font-weight-bold text-dark">><a href="#"
                            class="text-decoration-none font-weight-bold text-primary">AllCourses</a></a>
                </div>

                <section class="light">
                    <div class="container py-2">
                        <article class="postcard light blue">
                            <div class="postcard__text t-dark">
                                <h1 class="postcard__title blue"><a href="#">{{nameField}}</a></h1>
                                <div class="postcard__subtitle small">
                                    <time datetime="2020-05-25 12:00:00">
                                        <i class="fas fa-calendar-alt mr-2"></i>{{formatData createedField}}
                                    </time>
                                </div>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">{{descriptionField}}</div>
                            </div>
                        </article>
                    </div>
                </section>


                <div class="row mx-5 size-height-card-admin">
                    {{#each courses}}
                    <div class="col-sm-12 .col-md-4 col-lg-3 my-3">
                        <a href="#" class="text-decoration-none">
                            <!-- Card Dark -->
                            <div class="card view-card-zoom">
                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top"
                                        src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.webp"
                                        alt="Card image cap">
                                </div>

                                <!-- Card content -->
                                <div class="card-body bg-dark text-light rounded-bottom">
                                    <!-- Title -->
                                    <div class="size-height-title-admin">
                                        <h4 class="card-title-admin text-uppercase">{{this.name}}</h4>
                                    </div>
                                    <p>Giá: {{this.price}}</p>
                                    <div class="student-rating-admin d-flex ">
                                        <div>
                                            {{#each this.ratingsAverage}}
                                                <span class="fa fa-star checked"></span>
                                            {{/each}}
                                            {{#each this.ratingsNo}}
                                                <span class="fa fa-star"></span>
                                            {{/each}}
                                        </div>
                                        <p class="total-student ml-3">{{this.studentList.length}} students</p>
                                    </div>
                                    <p class="author-name">{{this.createdBy.name}}</p>
                                    <!-- Text -->
                                    <div class="card-text white-text hiden-text">{{{this.description}}}
                                    </div>
                                </div>
                            </div>
                            <!-- Card Dark -->
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div><!-- Main Col END -->

        </div><!-- body-row END -->
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var backAdminField = $('.path-back');
            backAdminField.click(function () {
                var pathArray = window.location.pathname.split("/");
                console.log(pathArray)
                window.location = '/admin/'+ pathArray[2]
            })
        });

    </script>
</body>